{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Login
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
            {% if msg %}
              {{ msg | safe }}
            {% else %}
                Add your credentials
            {% endif %} 
          </h6>
          
          <br />

          <form role="form" method="post" ms-login="true" action="">

            {{ form.hidden_tag() }}                    

            <div class="input-group mb-3">
                {{ form.username(placeholder="Username", class="form-control") }}
            </div>
            
            <div class="input-group mb-4">
                {{ form.password(placeholder="Password", class="form-control", type="password") }}
            </div>
            
            <div class="form-group text-left">
              <div class="form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked="">
                    Save Details
                    <span class="form-check-sign">
                        <span class="check"></span>
                    </span>
                </label>
            </div>

            <button type="submit" name="login" class="btn btn-primary shadow-2 mb-4">Login</button>

          </form>

          <p class="mb-0 text-muted">Don’t have an account? <a href="{{ url_for('base_blueprint.register') }}" >Register</a></p>
          <br />

        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
