{% extends "layouts/base.html" %}

{% block title %} Login {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-5">
      <div class="card">
        <div class="card-header card-header-primary">
          <h4 class="card-title">
            Create Account
          </h4>
        </div>
        <div class="card-body">

          <h6 class="card-category">
            {% if msg %}
                {{ msg | safe }}
            {% else %}
                Add your credentials
            {% endif %} 
          </h6>
          
          <br />
          <br />

          <!-- Hide the form on success -->
          {% if not success %}
              <form role="form" method="post" action="">

                  {{ form.hidden_tag() }}                    

                  <div class="input-group mb-3">
                      {{ form.username(placeholder="Username", class="form-control") }}
                  </div>
                  
                  <div class="input-group mb-3">
                      {{ form.email(placeholder="Email", class="input form-control", type="email") }}
                  </div>

                  <div class="input-group mb-4">
                      {{ form.password(placeholder="Password", class="form-control", type="password") }}
                  </div>
                  
                  <div class="form-group text-left">
                    <div class="form-check">
                      <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" checked="">
                          Agree with <a href="https://www.notion.so/skinetics/Terms-Conditions-c507a40d72824c03adb4ecc8e606ce90">terms</a> & <a href="https://www.notion.so/skinetics/Privacy-Policy-5e3db04d2d3b41889d81a929acdb9317">privacy policy</a>
                          <span class="form-check-sign">
                              <span class="check"></span>
                          </span>
                      </label>
                  </div>

                  <button type="submit" name="register" class="btn btn-primary shadow-2 mb-4">Register</button>

              </form>
              
              <p class="mb-0 text-muted">Already have an account? <a href="{{ url_for('base_blueprint.login') }}" >Login</a></p>
              <br />
          {% endif %}

        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
